/Unidad01/EduTecLib/nbproject/private/
/Unidad01/EduTecLib/build/
/Unidad01/MateApp/nbproject/private/
/Unidad01/PromedioApp/nbproject/private/
/Unidad01/PromedioApp/build/
/Unidad01/EduTecLib/dist/
/Unidad01/MateApp/build/
/Unidad01/ProyWork/nbproject/private/
/Unidad01/ProyWork/build/
/Unidad01/Work/nbproject/private/
/Unidad01/Work/build/
/Unidad01/ProyectoSeminario/nbproject/private/
/Unidad01/ProyectoSeminario/build/
/Unidad01/ProyectoSeminario/dist/
/Unidad01/SeminarioSolucion/nbproject/private/
/Unidad01/SeminarioSolucion/dist/
/Unidad01/SeminarioSolucion/build/
/Unidad01/Seminario/nbproject/private/
/Unidad01/Seminario/build/
/Unidad01/Seminario/dist/