/Unidad01/EduTecLib/nbproject/private/
/Unidad01/EduTecLib/build/
/Unidad01/MateApp/nbproject/private/
/Unidad01/PromedioApp/nbproject/private/
/Unidad01/PromedioApp/build/
/Unidad01/EduTecLib/dist/
/Unidad01/MateApp/build/
/Unidad01/ProyWork/nbproject/private/
/Unidad01/ProyWork/build/